.box {
    border: 2px solid darkblue;
    height: 80px;
    width: 80px;
    line-height: 50px;
}

.Tarima {
    border: 2px solid darkblue;
    /*position: absolute;
    top: 10px;
    left: 500px;*/
    height: 150px;
}

.General {
    border: 2px solid darkblue;
    height: 150px;
    line-height: 150px;
}

.container {
    margin-top: 10px;
}

[class*="col-md-"] {
    float: left;
}